@{
    Layout = null;
}

<!DOCTYPE html>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=10">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Step4</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="css/Step4_FindManufacturers.css">


</head>
<body>
    <div class="container-fluid">

        <!-- NAVBAR DIV -->
        <div class="row">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">3dPrintingService.net</a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav">
                            <li><a href="#">Home</a></li>
                            <li class="active"><a href="#">Make order</a></li>
                            <li><a href="#">Contact us</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>


        <!-- STEPS IMG CONTAINER -->
        <div class="row" style="height:100px; background-color: #9bb7c0">steps-img div [PARTIAL]</div>

        <!-- PROPERTIES CONTAINER -->
        <div id="properties-container" class="row">

            <!-- NAVIGATION HEADER DIV -->
            <div id="navigatoin-header" class="row">
                <button type="button" class="btn btn-link">< Back</button>
            </div>

            <!-- INNER CONTAINER FOR PROPERTIES -->
            <div id="inner-properties-container" class="row">

                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div>
                            <h4>Manufacturer 1</h4>
                            <p>Manufacturer 1 Location</p>
                            <p>Manufacturer 1 info</p>
                        </div>
                    </div>

                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div>
                            <p>
                                Order info Order info  Order info Order info Order info Order info Order info Order info
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div>
                            <h4>Price:20$</h4>
                            <button type="button" class="btn btn-primary btn-md">Order</button>
                        </div>
                    </div>

                </div>
                <hr>

                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div>
                            <h4>Manufacturer 2</h4>
                            <p>Manufacturer 2 Location</p>
                            <p>Manufacturer 2 info</p>
                        </div>
                    </div>

                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div>
                            <p>
                                Order info Order info  Order info Order info Order info Order info Order info Order info
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div>
                            <h4>Price:20$</h4>
                            <button type="button" class="btn btn-primary btn-md">Order</button>
                        </div>
                    </div>
                </div>
                <hr>

                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div>
                            <h4>Manufacturer 3</h4>
                            <p>Manufacturer 3 Location</p>
                            <p>Manufacturer 3 info</p>
                        </div>
                    </div>

                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div>
                            <p>
                                Order info Order info  Order info Order info Order info Order info Order info Order info
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div>
                            <h4>Price:20$</h4>
                            <button type="button" class="btn btn-primary btn-md">Order</button>
                        </div>
                    </div>
                </div>
                <hr>

                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div>
                            <h4>Manufacturer 3</h4>
                            <p>Manufacturer 3 Location</p>
                            <p>Manufacturer 3 info</p>
                        </div>
                    </div>

                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div>
                            <p>
                                Order info Order info  Order info Order info Order info Order info Order info Order info
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div>
                            <h4>Price:20$</h4>
                            <button type="button" class="btn btn-primary btn-md">Order</button>
                        </div>
                    </div>
                </div>
                <hr>




                <ul class="pager">
                    <li><a href="#">Previous</a></li>
                    <li><a href="#">Next</a></li>
                </ul>

            </div>
        </div>

        <!-- FOOTER -->
        <div class="row" style="height:30px; background-color: #9bb7c0">footer div [PARTIAL]</div>
    </div>


</body>
</html>
